<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration debug="true">
    <!-- Appenders -->
    <!-- 로그를 어디(콘솔, 파일 기록, DB 저장)에 출력할지 결정-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d %5p [%c] %m%n</Pattern>
        </encoder>
    </appender>

    <appender name="console-infolog" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d %5p %m%n</Pattern>
        </encoder>
    </appender>

    <!-- 로거 -->
    <!-- 로그를 출력하는 요소로 Level 속성을 통해서 출력할 로그의 레벨을 조절하여 appender에 전달합니다.-->
    <logger name="board" level="debug" appender-ref="console"/>
    <logger name="jdbc.sqlonly" level="info" appender-ref="console-infolog"/>
    <logger name="jdbc.resultsettable" level="info" appender-ref="console-infolog"/>
    <logger name="org.springframework" level="error"/>
    <logger name="org.springframework.jdbc" level="error"/>

    <!-- 루트 로거 -->
    <root level="error">
        <appender-ref ref="console"/>
    </root>
</configuration>
